{% extends "base.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{{ block.super }} {{ object.item_name|upper }}
{% endblock title %}

{% block content %}
<section class="relative w-screen h-min py-10 px-6 md:px-14 bg-variant-2">
  <div class="w-full h-min text-white pt-20">
    <h1 class="text-3xl font-black flex flex-row items-start space-x-4"><span class="block">{{ object.item_name|upper }}</span> <span class="text-sm text-white/80 block"><strong class="block">Departed on</strong><small class="block">{{object.departure_date|date:"d M, Y"}}</small></span></h1>
  </div>
</section>
<section class="md:flex md:flex-row flex-col md:space-y-0 space-y-6 md:space-x-6 px-6 md:px-14 py-32">
  <div class="bg-variant-2 text-white md:w-1/4 w-full rounded-md shadow-md p-6 space-y-4">
    <h2 class="text-2xl font-dark text-white">ITEM DETAILS</h2>
    <div class="space-y-2 w-full h-min pb-6 pt-6 border-t-2">
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-base font-black">NAME</strong>
        <span class="flex">{{object.item_name|title}}</span>
      </div>
      <div class="w-full justify-between flex items-center border-b-2 pb-3">
        <strong class="flex text-base font-black">TRACKING NO.</strong>
        <span class="flex">{{object.tracking}}</span>
      </div>
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-base font-black">QUANTITY</strong>
        <span class="flex">{{object.quantity}}</span>
      </div>
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-base font-black">WEIGHT</strong>
        <span class="flex">{{object.weight}} <strong class="font-black">kg</strong></span>
      </div>
      <div class="w-full justify-between flex items-center border-b-2 pb-3">
        <strong class="flex text-base font-black">STATUS</strong>
        <span class="flex font-black">{% if object.delivered %}DELIVERED{% elif object.held %}HELD{% elif object.delayed %}DELAYED{% else %}ON TRANSIT{% endif %}</span>
      </div>
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-sm font-black">SENDER NAME</strong>
        <span class="flex text-sm">{{object.sender_name|title}}</span>
      </div>
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-sm font-black">SENDER PHONE</strong>
        <span class="flex text-sm">{{object.sender_phone}}</span>
      </div>
      <div class="w-full justify-between flex items-center  border-b-2 pb-3">
        <strong class="flex text-sm font-black">SENDER EMAIL</strong>
        <span class="flex text-sm">{{object.sender_email}}</span>
      </div>
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-sm font-black">RECEIVER NAME</strong>
        <span class="flex text-sm">{{object.receiver_name|title}}</span>
      </div>
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-sm font-black">RECEIVER PHONE</strong>
        <span class="flex text-sm">{{object.receiver_phone}}</span>
      </div>
      <div class="w-full justify-between flex items-center  border-b-2 pb-3">
        <strong class="flex text-sm font-black">RECEIVER EMAIL</strong>
        <span class="flex text-sm">{{object.receiver_email}}</span>
      </div>
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-sm font-black">FROM LOC</strong>
        <span class="flex text-sm">{{object.from_loc|title}}</span>
      </div>
      <div class="w-full justify-between flex items-center">
        <strong class="flex text-sm font-black">TO LOC</strong>
        <span class="flex text-sm">{{object.to_loc}}</span>
      </div>
      <div class="w-full justify-between flex items-center  border-b-2 pb-3">
        <strong class="flex text-sm font-black">DEPARTURE DATE</strong>
        <span class="flex text-sm">{{object.departure_date|date:"d M, Y"}}</span>
      </div>

    </div>
  </div>

  <div class="bg-variant-2/60 text-dark md:flex-grow w-full rounded-md shadow-md p-6 space-y-4">
    <h2 class="text-2xl font-dark">ITEM LOCATION HISTORY</h2>
    <div class="space-y-2 w-full h-min pb-6 pt-6 border-t-2">
      <div class="w-full justify-between flex items-center border-b-2 pb-3">
        <strong class="flex text-base font-black">CURRENT LOC.</strong>
        <span class="flex">{{object.last_loc|title}}</span>
      </div>
      {% for it in track_history %}
      <div class="w-full justify-between flex items-center last:border-b-2 last:pb-3">
        <strong class="flex text-base font-black">LAST LOC {{forloop.counter}}.</strong>
        <span class="flex">{{it.last_loc}}</span>
        <span class="flex">{{it.date|date:"d M, Y"}}</span>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
{% endblock content %}

