{% extends "base.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{{ block.super }} Local & International Shipping and Deliveries
{% endblock title %}

{% block content %}
<section class="w-screen h-screen relative flex items-center md:flex-row flex-col pt-6 pb-14">
  <div class="absolute w-full h-full top-0 left-0 bg-variant-1 mix-blend-normal"></div>
  <div class="order-2 md:order-1 md:w-2/4 w-[calc(100%_-_64px)] relative mx-auto md:mx-0 md:right-14 md:left-14 top-0 h-full items-start object-center flex-col flex">
    <div class="absolute w-full h-min left-[50%] top-[50%] transform -translate-x-1/2 -translate-y-1/2 space-y-5">
      <h1 class="whitespace-normal font-black light flex object-center font-raleway md:text-6xl text-3xl tracking-wider">
        {% trans 'Fast & Safe Deliveries Across All Border' %}
      </h1>
      <div class="w-20 h-1 bg-dark-300"></div>
      <!-- <p class="text-light font-raleway tracking-wide block">
        We are a team of software developers, designers, and developers who are passionate about building high performance software solutions.
      </p> -->
      <h2 class="text-dark whitespace-normal font-raleway tracking-wide block md:text-xl text-sm">
        {% trans 'We help you with local and international deliveries to ' %}
        <span class="text-dark-300 font-bold tracking-wider block whitespace-normal">— {% trans 'Families, Customers and Just about anyone, anywhere in the world.' %}</span>
      </h2>

      <div class="md:flex items-center space-y-4 md:space-y-0 md:space-x-6 pt-6 md:pt-14">
        <button class="hover:shadow-md w-full md:w-1/3 flex-none bg-variant-2 rounded-xl py-4 px-3 font-black font-raleway hover:scale-105 focus:scale-105 duration-[400ms] ease-linear">
          <a href="tel://+12017759649" class="text-white font-bold tracking-wider block">
            {% trans 'Call For More' %}
          </a>
        </button>
      </div>
    </div>
  </div>
  <div class="order-1 md:order-2 flex md:flex-row flex-col md:w-2/4 w-full h-full top-0 md:right-14 object-center relative">
      <img src="{% static 'images/Air Support-cuate.svg' %}" alt="shipping" class="w-full absolute md:w-[420px] h-[420px] left-[50%] top-[50%] transform -translate-x-1/2 -translate-y-1/2">
  </div>
</section>

<section class="w-screen h-min py-6 px-3 md:px-14 bg-dark-300 space-y-6">
  <div class="w-full space-y-5 text-left">
    <small class="block text-variant-2 text-sm font-bold">
      TRACKING
    </small>
    <h3 class="text-xl md:text-2xl font-bold text-light">
      Track any item with your unique tracking number
    </h3>
  </div>

  <form id="main" class="w-full space-y-4">
    <div class="flex md:flex-row md:space-x-6 flex-col space-y-6 md:space-y-0">
      <input hx-get="{% url 'verify_email' %}" hx-target="#email" hx-trigger="keyup changed delay:1s" hx-swap="outerHTML" type="email" name="email" placeholder="name@mail.com" class="md:w-2/5 w-full bg-light text-dark placeholder:text-dark/40 autofill:text-variant-2 placeholder:text-base placeholder:font-semibold">
      <input hx-get="{% url 'verify_tracking' %}" hx-target="#result" hx-trigger="keyup changed delay:1s" hx-swap="outerHTML" type="text" name="tracking" placeholder="GX-XXXXX-XXXXX" class="md:w-2/5 w-full bg-light text-dark placeholder:text-dark/40 autofill:text-variant-2 placeholder:text-base placeholder:font-semibold">
      <button type="button" hx-post="/{{LANGUAGE_CODE}}/search/{{object.tracking}}" hx-push-url="/{{LANGUAGE_CODE}}/search/{{object.tracking}}" hx-swap="outerHTML" hx-target="#main" class="md:w-1/5 w-full rounded-sm hover:shadow-md duration-500 bg-variant-2 text-white py-2 px-3">Search</button>
    </div>
    <small class="block text-sm font-bold text-variant-2" id="email"></small>
    <small class="block text-sm font-bold text-variant-2" id="result"></small>
  </form>
</section>

<section class="w-screen h-min py-32 px-3 md:px-14 space-y-10">
  <div class="w-full space-y-5 text-center">
    <small class="block text-variant-2 text-sm font-bold">
      SHIPPING
    </small>
    <h3 class="text-3xl md:text-4xl font-bold text-dark">
      Local & International Shipping for personal and business use
    </h3>
    <p class="text-dark-300/60 text-base md:text-2xl">Request a pickup or delivery from you or from a sender and we'll get it <br>delivered to where you need it to go.</p>
  </div>

  <div class="w-full h-min overflow-hidden ">
    <img src="{% static 'images/countries.jpg' %}" alt="countries" class="w-full object-conver">
  </div>
</section>

<section class="bg-dark w-screen h-min py-20 px-3 md:px-14 text-light space-y-6">
  <div class="space-y-6">
    <h4 class="text-3xl md:text-4xl font-bold">We offer services that fit your needs</h4>
    <p class="text-light/60 text-base md:text-2xl">From personal needs to platform integrations, we are ready to work with you.</p>
  </div>

  <div class="w-full flex-none gap-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4">
    <div class="hover:bg-variant-2 bg-dark-300 duration-500 p-6 space-y-4">
      <small class="block text-xs">PERSONAL</small>
      <p>We are here for the simple things. Use go3xpress for a safe local and international deliveries.</p>
    </div>
    <div class="hover:bg-variant-2 bg-dark-300 duration-500 p-6 space-y-4">
      <small class="block text-xs">REAL TIME TRACKING</small>
      <p>Never worry about the location of your item(s), here at go3xpress we ensure you get emailed regularly.</p>
    </div>
    <div class="hover:bg-variant-2 bg-dark-300 duration-500 p-6 space-y-4">
      <small class="block text-xs uppercase">OFFLINE, online & social sellers</small>
      <p>Do you own your own physical store, e-commerce website or you sell on instagram, we have services that helps you increase visibility.</p>
    </div>
    <div class="hover:bg-variant-2 bg-dark-300 duration-500 p-6 space-y-4">
      <small class="block text-xs uppercase">couriers</small>
      <p>Improve your operations and sales by working with us. You can expand your services using our network.</p>
    </div>
  </div>
</section>
{% endblock content %}
