{% extends "base.html" %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{{ block.super }} Privacy Policy
{% endblock %}

{% block content %}
<section class="w-screen h-screen relative flex items-center md:flex-row flex-col pt-6 pb-14">
  <div class="absolute w-full h-full top-0 left-0 bg-variant-1 mix-blend-normal"></div>
  <div class="order-2 md:order-1 md:w-2/4 w-[calc(100%_-_64px)] relative mx-auto md:mx-0 md:right-14 md:left-14 top-0 h-full items-start object-center flex-col flex">
    <div class="absolute w-full h-min left-[50%] top-[50%] transform -translate-x-1/2 -translate-y-1/2 space-y-5">
      <h1 class="whitespace-normal font-black light flex object-center font-raleway md:text-6xl text-3xl tracking-wider">
        {% trans 'Privacy Policy & Terms of Use' %}
      </h1>
      <div class="w-20 h-1 bg-dark-300"></div>
    </div>
  </div>
  <div class="order-1 md:order-2 flex md:flex-row flex-col md:w-2/4 w-full h-full top-0 md:right-14 object-center relative">
      <img src="{% static 'images/Air Support-cuate.svg' %}" alt="shipping" class="w-full absolute md:w-[420px] h-[420px] left-[50%] top-[50%] transform -translate-x-1/2 -translate-y-1/2">
  </div>
</section>

<section class="w-screen h-min py-10 px-3 md:px-14 space-y-6">
  <div class="w-full h-min text-justify text-dark">
    {{ page.content|safe }}
  </div>
</section>
{% endblock content %}
