{% if object %}
<div id="main" class="w-full space-y-5 text-center py-20 border-y-2 border-y-white mx-auto">
  <small class="block text-variant-2 text-sm font-bold">
    {{object.departure_date|date:"d M, Y"}}
  </small>
  <h3 class="text-3xl md:text-4xl font-bold text-light">
    {{object.item_name|upper}}
  </h3>
  <p class="text-light/60 text-base md:text-2xl block ">Item shipped by {{object.sender_name|title}}</p>
  <a href="{% url 'item_detail' object.tracking %}" class=" mt-4 block  w-full py-3 hover:scale-105 duration-500 px-3 text-center bg-variant-2 text-white font-bold">View Details</a>
  <a href="{% url 'invoice' object.tracking %}" class=" mt-4 block  w-full py-3 hover:scale-105 duration-500 px-3 text-center bg-variant-2 text-white font-bold"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
  </svg> Print Invoice</a>
</div>
{% else %}
<div class="w-full h-min text-center text-2xl text-variant-2">
  no item catalogued for a delivery.
</div>
{% endif %}
